files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/01_sqlite_backup.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      # backup sqlite to s3
      EBS_APP_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EBS_DB_FILE=$EBS_APP_DIR/dist/database/acme.db
      BUCKET='elasticbeanstalk-eu-west-2-952823572417'
      BUCKET_DIR='db-backups/'
      aws s3 cp $EBS_DB_FILE s3://$BUCKET/$BUCKET_DIR

  /opt/elasticbeanstalk/hooks/appdeploy/enact/50_sqlite_restore.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      # restore sqlite from s3
      BUCKET='elasticbeanstalk-eu-west-2-952823572417'
      BUCKET_FILE='db-backups/acme.db'
      EB_APP_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EBS_DB_DIR=$EB_APP_DIR/dist/database/
      aws s3 cp s3://$BUCKET/$BUCKET_FILE $EBS_DB_DIR
      chown -R nodejs:nodejs /var/app/current

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_sqlite_restore.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo "Nowt to do..."
